@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

iframe {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
}

#iframe-body {
    overflow: hidden;
}

i {
    padding: 0 10px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.nav-item a {
    font-size: 1.25rem;
}

.nav-item a:hover {
    color: #FDD36A !important;
}

/*----------------------------------------*/

/* ---------------------------------------------------
    LOGIN REGISTER STYLE
----------------------------------------------------- */
main {
    height: 100vh;
    background-color: #434242
}

.msg {
    padding: 3rem 0 0;
}

#msg-status {
    font-size: 20px;
    color: #fff;
    position: sticky;
    top: 0;
}

.error {
    background-color: #DC3535;
}

.success {
    background-color: #1F8A70;
}

.login-container {
    padding-top: 5%;
    margin-bottom: 5%;
}

.login-logo {
    position: relative;
    margin-left: -41.5%;
}

.login-logo img {
    position: absolute;
    width: 20%;
    margin-top: 36%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}

.login-form-1 {
    padding: 9%;
    background: #282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
    text-align: center;
    margin-bottom: 12%;
    color: #fff;
}

.login-form-2 {
    padding: 9%;
    background: #033e16;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3 {
    text-align: center;
    margin-bottom: 12%;
    color: #fff;
}

.btnSubmit {
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
}

.btnForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.btnForgetPwd:hover {
    text-decoration: none;
    color: #fff;
}


/* Look Password register form */
.p-viewer {
    z-index: 9999;
    position: absolute;
    top: 19.5%;
    right: 7px;
    cursor: pointer;
}

.fa-eye{
    color: #000;
}
/* end Look Password register form */

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#profile-image-container {
    width: 150px;
    height: 150px;
    border: 6px solid #B7C202;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    margin: 15px auto;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #ccc;
    /* color: #fff; */
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    /* background: #567189; */
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #7B8FA1;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /* background: #567189; */
}

a.download {
    background: #fff;
    color: #7386D5;
}

.active {
    background: #B7C202;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    DASHBOARD MAIN
----------------------------------------------------- */

.card-div .card{
    min-height: 272.8px;
}

#latest_moviments span {
    color: #999;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
}

.form-check-label{
    font-size: 22px;
}

.edit_moviment_label {
    margin-top: 9px;
    font-size: 16px;
}

input::placeholder {
    opacity: 0.2;
    color: #ccc !important;
}

/* calendar */
[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  /* custom styles */
  
  label {
    display: block;
  }
/* End calendar */
#expense {
    display: none;
}

#category_div_entry {
    display: none;
}

#category_div {
    display: none;
}

hr.dashed {
    border-top: 2px dashed #999;
}

.entrada {
    color: #539165;
    font-size: 25px;
}

.saida {
    color: #DF2E38;
    font-size: 25px;
}

#latest_moviments .fa-trash-can{
    font-size: 25px;
    color: #DF2E38;
}


#latest_moviments .fa-file-pen{
    font-size: 25px;
    color: #DC8449;
}

table {
    text-align: center;
}

.table_description {
    color: #6C757D !important;
}

.actions .btn {
    margin-top: 2rem;
}

@media (max-width: 575px) {

    table thead {
        display: none;
    }

    table tr {
        display: flex;
        flex-direction: column;
        border: 3px solid white;
        padding: 1px;
    }


    table td[data-label] {
        display: flex;
        font-weight: bold;
    }

    table td[data-label]::before {
        content: attr(data-label);
        color: lightgrey;
        font-weight: 100;
        width: 50%;
    }


}


/* ---------------------------------------------------
   END DASHBOARD MAIN
----------------------------------------------------- */

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }

    #iframe-body {
        overflow: auto;
    }
}

@media (max-width: 575px) { 

    #iframe-body {
        overflow: auto;
    }

}