@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif !important;
}

h4 {
    color: rgb(108, 108, 108);
}

iframe {
    width: 100%;
    height: 126vh;
}

#iframe-body {
    overflow: hidden;
}

i {
    padding: 0 10px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.nav-item a {
    font-size: 1.25rem;
}

.nav-item a:hover {
    color: #FDD36A !important;
}

/*----------------------------------------*/

/* ---------------------------------------------------
    LOGIN REGISTER STYLE
----------------------------------------------------- */
main {
    height: 100vh;
    background-color: #434242
}

.msg {
    padding: 3rem 0 0;
}

#msg-status {
    font-size: 20px;
    color: #fff;
    position: sticky;
    top: 0;
}

.error {
    background-color: #DC3535;
}

.success {
    background-color: #1F8A70;
}

.login-container {
    padding-top: 5%;
    margin-bottom: 5%;
}

.login-logo {
    position: relative;
    margin-left: -41.5%;
}

.login-logo img {
    position: absolute;
    width: 20%;
    margin-top: 36%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}

.login-form-1 {
    padding: 9%;
    background: #282726;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
    text-align: center;
    margin-bottom: 12%;
    color: #fff;
}

.login-form-2 {
    padding: 9%;
    background: #033e16;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3 {
    text-align: center;
    margin-bottom: 12%;
    color: #fff;
}

.btnSubmit {
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
}


/* Look Password register form */
.p-viewer {
    z-index: 9999;
    position: absolute;
    top: 19.5%;
    right: 7px;
    cursor: pointer;
}

.fa-eye {
    color: #474747;
}

/* end Look Password register form */

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#profile-image-container {
    width: 150px;
    height: 150px;
    border: 6px solid #B7C202;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    margin: 15px auto;
}

#user_award {
    margin-top: 7rem;
    margin-left: 4rem;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #ccc;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #d9d9d9;
}

.sidebar-header .user_name {
    font-family: 'Poppins', sans-serif;
}


#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #7B8FA1;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    /* background: #567189; */
}

a.download {
    background: #fff;
    color: #7386D5;
}

.active {
    background: #B7C202;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* Popup Active */
.container-popup {
    position: absolute;
    display: flex;
    background-color: #000;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 8rem;
    align-items: center;
    height: 136%;
    width: 100%;
}

.popup {
    display: flex;
    flex-direction: column;
    width: 33rem;
    padding: 3rem;
    gap: 1rem;
    background-color: white;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transform: translateY(5%);
    visibility: hidden;
    transition: all 0.25s;
    z-index: -1;
}

button {
    border: none;
    cursor: pointer;
}

.close_popup {
    position: absolute;
    color: black;
    background-color: transparent;
    font-weight: 700;
    font-size: 1.25rem;
    right: 0;
    top: 0;
    margin: 1rem 1.5rem;
}

.popup.active {
    opacity: 1;
    transform: translateY(0%);
    visibility: visible;
    z-index: 1;
}

@media screen and (max-width: 425px) {
    .popup {
        width: 20rem;
    }
}


@media screen and (max-width: 320px) {
    .popup {
        width: 18rem;
    }
}

/* ---------------------------------------------------
    DASHBOARD MAIN
----------------------------------------------------- */
.blur {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.warning-text-expense {
    font-size: 1rem;
    color: rgba(199, 12, 17, 1);
    margin-top: 5px;
}

.card-div .card {
    min-height: 272.8px;
}

#latest_moviments span {
    color: #999;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
}

.form-check-label {
    font-size: 22px;
}

.edit_moviment_label {
    margin-top: 9px;
    font-size: 16px;
}

input::placeholder {
    opacity: 0.2;
    color: #ccc !important;
}

/* calendar */
[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}

/* custom styles */

label {
    display: block;
}

/* End calendar */

#expense {
    display: none;
}

#category_div_entry {
    display: none;
}

#category_div {
    display: none;
}

hr.dashed {
    border-top: 2px dashed #999;
}

.entrada {
    color: #539165;
    font-size: 25px;
}

.saida {
    color: #DF2E38;
    font-size: 25px;
}

#latest_moviments .fa-trash-can {
    font-size: 25px;
    color: #DF2E38;
}


#latest_moviments .fa-file-pen {
    font-size: 25px;
    color: #DC8449;
}

table {
    text-align: center;
}

.table_description {
    color: #6C757D !important;
}

.actions .btn {
    margin-top: 2rem;
}

.fa-plus {
    display: inline-block;
    border-radius: 60px;
    color: #0cb006;
    border: solid 2px #0cb006;
    padding: 0.5em 0.6em;
}

.fa-plus:hover {
    background-color: #0cb006;
    color: #fff;
}

.fa-minus {
    display: inline-block;
    border-radius: 60px;
    border: solid 2px #c00537;
    color: #c00537;
    padding: 0.5em 0.6em;
}

.fa-minus:hover {
    background-color: #c00537;
    color: #fff;
}

@media not print {
    @media (max-width: 575px) {

        table thead {
            display: none;
        }

        table tr {
            display: flex;
            flex-direction: column;
            border: 3px solid white;
            padding: 1px;
        }


        table td[data-label] {
            display: flex;
            font-weight: bold;
        }

        table td[data-label]::before {
            content: attr(data-label);
            color: lightgrey;
            font-weight: 100;
            width: 50%;
        }

        .warning-text-expense {
            font-size: 76%;
        }
    }
}

/* Cotation Text animation */

#cotation {
    animation-duration: 13s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}


/* ---------------------------------------------------
   END DASHBOARD MAIN
----------------------------------------------------- */


/* ---------------------------------------------------
   CARDS CREDIT PAGE
----------------------------------------------------- */

/* Card Credit*/
.card-credit {
    width: 100%;
    height: 270px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.amex {
    background: #999999;
    background: linear-gradient(180deg, #999999 0%, #666666 100%);
}

.visa {
    background: rgb(199, 12, 17);
    background: linear-gradient(180deg, rgba(199, 12, 17, 1) 0%, rgba(111, 6, 6, 1) 100%);
}

.diners {
    background: #D4D5D7;
    background: linear-gradient(180deg, #ededed 0%, #bdbdbd 100%);
}


.master-card {
    background: rgb(55, 55, 60);
    background: linear-gradient(180deg, rgba(55, 55, 60, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

.master-card-icon {
    background-image: url("../assets/home/dashboard-main/mastercard.png");
    width: 75px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}

.visa-icon {
    background-image: url("../assets/home/dashboard-main/visa.png");
    width: 75px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}

.amex-icon {
    background-image: url("../assets/home/dashboard-main/amex_card.png");
    width: 75px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}

.diners-icon {
    background-image: url("../assets/home/dashboard-main/diners.png");
    width: 56px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
}

.card_logo {
    text-align: end;
    padding: 10px;
}

.card_info {
    padding: 10px;
    text-align: left;
    margin-top: 4rem;
}

.card_info img {
    width: 45px;
    height: 35px;
}

.card_info p {
    font-size: 22px;
    /* padding: 10px 0; */
    letter-spacing: 2px;
    color: #ffffff;
}

.card_crinfo {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

#card_name {
    color: #fff;
}

#cards-page .fa-trash-can {
    font-size: 25px;
    color: #DF2E38;
}


#cards-page .fa-file-pen {
    font-size: 25px;
    color: #DC8449;
}

@media (max-width: 400px) {
    .card_info p {
        font-size: 16px;
    }

    #card_name {
        font-size: 10px;
    }
}


/* ---------------------------------------------------
   END CARDS CREDIT PAGE
----------------------------------------------------- */

/* ---------------------------------------------------
   REPORTS PAGES
----------------------------------------------------- */
.p-date {
    z-index: 9999;
    position: absolute;
    top: 49.5%;
    right: 21px;
    cursor: pointer;
}

.p-date .fa-calendar-days {
    color: #818080;
}

.entrys-search .btn {
    margin-top: 2rem;
}

.tooltip_ {
    display: none;
}

#conteudo {
    /* left: 30rem; */
    padding: 10px 15px;
    box-shadow: 0px 0px 3px #777;
    background-color: #FFF2CC;
    width: 10rem;
    color: gray;
    position: absolute;
    z-index: 99999;
}

#conteudo:before {
    /*a seta do div flutuante*/
    content: "";
    position: absolute;
    top: -10px;
    left: 79px;
    height: 20px;
    width: 20px;
    background-color: #FFF2CC;
    transform: rotate(45deg);
    box-shadow: -2px -2px 1px #ccc;
}

.bloco {
    display: flex;
    justify-content: space-between
}

.bloco:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

/* ---------------------------------------------------
    INFO PAGE
----------------------------------------------------- */

.lessons_container {
    padding: 2% 5%;
    background: #faf7f7;
    border-radius: 20px;

}

#first-steps span {
    color: #999;
}

.lessons_div {
    width: 100%;
    border: solid 1px #e9e9e9;
    border-radius: 10px;
    display: block;
    text-align: left;
    background-color: #fff;
}

.lessons_div a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 20px;
}

.lessons_div button {
    width: 70px;
    height: 50px;
    font-weight: 500;
    font-size: 20px;
}

.lessons_div div {
    display: flex;
    flex-direction: column;
    padding-right: 5px;
}

.lessons_div span {
    color: #999;
    line-height: 20px;
}

.box {
    width: auto;
}

img.animated-gif {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: auto;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
}

.bd-lessons .close {
    font-size: 2rem;
}

@media (max-width: 425px) {
    .lessons_div a {
        flex-direction: column;
        text-align: center;
    }

    .lessons_div button {

        margin: 10px auto;
    }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media only screen and (min-width: 1920px) {
    #conteudo {
        right: 18.4rem;
    }
}


@media (max-width: 1024px) {
    #conteudo {
        right: 8rem;
    }
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }

    #iframe-body {
        overflow: auto;
    }

    #conteudo {
        right: 5rem;
    }
}

@media (max-width: 575px) {

    #iframe-body {
        overflow: auto;
    }

    #conteudo {
        right: 9rem;
    }

}

@media (max-width: 325px) {

    #conteudo {
        right: 5.5rem;
    }

}